<!-- app/views/teams/new.html.erb -->
<% content_for :sidebar do %>
  <%= render "team_settings/sidebar" %>
<% end %>

<h1 class="text-xl font-bold mb-4"><%= t('teams.new.title') %></h1>
<%= render "form", team: @team %>
