<!-- app/views/profiles/edit.html.erb -->
<% content_for :sidebar do %>
  <%= render "profile_settings/sidebar" %>
<% end %>

<h1 class="text-xl font-bold mb-4"><%= t('profiles.edit.title') %></h1>

<%= render "form", profile: @profile %>