<!-- app/views/chat_rooms/index.html.erb -->
<% content_for :sidebar do %>
  <%= render "chat_rooms/sidebar" %>
<% end %>

<div class="flex flex-col items-center justify-center h-full text-gray-400">
  <p>チャットルームを選択してください</p>
</div>