<!-- app/views/team_settings/_sidebar.html.erb -->
<h2 class="font-semibold text-sm mb-3">チーム設定</h2>
<nav class="space-y-1">
<%#= link_to "ホーム",
            home_team_settings_path,
            class: nav_class(home_team_settings_path) %>

<%= link_to "チーム編集",
            edit_team_settings_path,
            class: nav_class(edit_team_settings_path) %>

<%= link_to "メンバー管理",
            members_team_settings_path,
            class: nav_class(members_team_settings_path) %>

<%= link_to "新規チーム作成",
            new_team_path,
            class: nav_class(new_team_path) %>
</nav>