/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* app/assets/stylesheets/application.css */
summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  content: "";
}

/* カレンダーの1マスの中身用ボックス */
.calendar-slot-inner {
  height: 48px;        /* ← 好きな高さに。96px ≒ 3行ぶんイメージ */
  overflow-y: auto;    /* ← 中だけ縦スクロール */
}

/* タスクのウィークリーカレンダー用テーブル */
.calendar-table {
  table-layout: fixed;  /* ← これで col の幅に従って均等割り */
}