<!-- app/views/devise/mailer/confirmation_instructions.html.erb -->
<p>
  <%= t('common.app_name') %>
</p>

<p>
  <%= t('devise.mailer.confirmation_instructions.instruction_title') %>
</p>

<p>
  <%= t('devise.mailer.confirmation_instructions.instruction_body') %>
</p>

<p>
  <%= link_to t('devise.mailer.confirmation_instructions.action_link'), 
              user_confirmation_url(confirmation_token: @token) %>
</p>
