<!-- app/views/devise/mailer/reset_password_instructions.html.erb -->
<p>
  <%= t('common.app_name') %>
</p>

<p>
  <%= t('devise.mailer.reset_password_instructions.instruction_title') %>
</p>

<p>
  <%= t('devise.mailer.reset_password_instructions.instruction_body') %>
</p>

<p>
  <%= link_to t('devise.mailer.reset_password_instructions.action_link'),
              edit_user_password_url(reset_password_token: @token) %>
</p>